/*
* @Author: www87
* @Date:   2018-08-09 09:40:00
* @Last Modified by:   www87
* @Last Modified time: 2018-08-12 18:59:11
*/
body,html{
	width: 100%;
	height: 100%;
}
header{
	height: 3.66rem;
	width: 7.5rem;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	background-color: #f03434;
	position: fixed;
	top: 0;
	margin: 0 auto;
}
header ul{
	width: 7.1rem;
	height: 0.85rem;
	/* background-color: black; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
header ul input{
	width: 4rem;
	height: 0.35rem;
	border-radius: 0.2rem;
	outline: none;
	border: 0;
	background-image: url('../img/search2.png');
	background-position: 0.2rem 0.05rem;
	background-size: 0.3rem;
	background-repeat: no-repeat;
	padding-left: 0.4rem;
	padding-left: 0.6rem;
}
input::-webkit-input-placeholder{
	font-size: 0.2rem;
	color: #eeeaea;
}
header ul img,.fenxiang{
	width: 0.3rem;
	height: 0.3rem;
}
header ul img,.fanhui{
	width: 0.2rem;
	height: 0.3rem;
}
header .box{
	width: 7.1rem;
	height: 2.81rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
}
header .box .pic{
	width: 2.44rem;
	height: 100%;
	/* background: yellow; */
}
header .box .pic img{
	width: 1.63rem;
	height: 1.63rem;
	margin-left: 0.45rem;
	margin-top: 0.36rem;
}
header .box .tab{
	width: 4.66rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
header .box .tab h1{
	font-size: 0.3rem;
	font-weight: 600;
	color: #fff;
}
header .box .tab p{
	color: #fff;
	font-size: 0.24rem;
	width: 4.2rem;
}
header .box .tab li{
	width: 2.68rem;
	height: 0.3rem;
	display: flex;
	flex-direction:row;
	justify-content:flex-start ;
	align-items: flex-start;
}
header .box .tab li img{
	width: 1.35rem;
	height: 0.29rem;
}
header .box .tab li .num1{
	width: 0.56rem;
	height: 0.23rem;
	border-radius: 0.2rem;
	background: #fff;
	color: red;
	font-size: 0.16rem;
	text-align: center;
	margin-top: 0.05rem;
	margin-left: 0.2rem;
}
header .box .tab li .num2{
	width: 0.56rem;
	height: 0.23rem;
	border-radius: 0.2rem;
	background: #fff;
	color: red;
	font-size: 0.16rem;
	text-align: center;
	margin-top: 0.05rem;
}header .box .tab li .num3{
	width: 0.56rem;
	height: 0.23rem;
	border-radius: 0.2rem;
	background: #fff;
	color: red;
	font-size: 0.16rem;
	text-align: center;
	margin-top: 0.05rem;
}
header .box .tab li h2{
	color: #fff;
	font-size: 0.18rem;
	/* width: 0.18rem; */
	text-align: center;
	height: 0.2rem;
	line-height: 0.35rem;
	margin-left: 0.3rem;
}
main{
	width: 7.5rem;
	height: 100%;
	/* height: 9.68rem; */
	margin: 0 auto;
	/* padding-left: 0.2rem;
	padding-right: 0.2rem; */
	display: flex;
	/* flex-direction: row; */
	justify-content: flex-start;
	/* align-items: flex-start; */
	padding-top: 3.66rem;
	/* margin-bottom: 1.3rem; */
	/* overflow: hidden; */
}
main ul{
	width:2.49rem;
	/* height: 5.12rem; */
	background: #f4f3f3;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
main ul li{
	width: 100%;
	height: 0.88rem;
	color: #000;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.88rem;
}
main ul li:nth-child(2){
	color: red;
	border-bottom: 0.02rem solid red;
}
main ol{
	width: 4.87rem;
	/* height:calc(100% - 0.66 - 3.66rem); */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 0.4rem;
	overflow: scroll;
}
main ol li{
	width: 4.53rem;
	height: 1.55rem;
	margin: 0 0.24rem 0.3rem 0.24rem ;
	box-shadow: 0.02rem 0.02rem 0.05rem 0.02rem rgba(217, 43,43, 0.35);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	/* margin-bottom: 0.3rem; */
	flex-shrink: 0;
}
main ol li:nth-child(7){
	margin-bottom: 1.5rem;
}
main ol li .pic{
	width: 1.88rem;
	height: 100%;
	/* float: left; */
}
main ol li .pic img{
	width: 1.48rem;
	height: 1.3rem;
	margin-top: 0.1rem;
	margin-left: 0.2rem;
}
main ol li .box{
	width: 2.67rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
main ol li .box h1{
	font-size: 0.23rem;
	color: #000;
	width: 100%;
	margin-top: 0.08rem;
}
main ol li .box h2{
	font-size: 0.18rem;
	color: #2c2d2c;
	width: 100%;
}
main ol li .box h3{
	font-size: 0.14rem;
	color: #2c2d2c;
	width: 100%;
}
main ol li .box .box1 {
	width: 100%;
	font-size: 0.139rem;
	color: red;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 0.06rem;
}
main ol li .box .box1 .dazhe{
	width: 0.5rem;
	height: 0.25rem;
	border-radius: 0.2rem;
	border: 0.01rem solid red;
	line-height: 0.25rem;
	text-align: center;

}
main ol li .box .box1 span{
	font-size: 0.14rem;
	color: red;
	margin-left: 0.17rem;
	line-height: 0.3rem;
}
main ol li .box h4{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}
main ol li .box h4 p{
	font-size: 0.3rem;
	color: red;
}
main ol li .box h4 span{
	font-size: 0.18rem;
	color: red;
	line-height: 0.5rem;
	margin-left: 0.07rem;
}
main ol li .pio {
	width: 0.35rem;
	height: 0.35rem;
	position: absolute;
	right: -0.10rem;
	top:-0.85rem;
}
main ol li .pio img{
	width: 0.35rem;
	height: 0.35rem;
}







footer{
	width: 7.5rem;
	height: 0.88rem;
	position: fixed;
	bottom: 0;
	margin: 0 auto;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}
footer ul{
	width: 100%;
	height: 100%;
	border-radius: 0.1rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	overflow: hidden;
}
footer ul li{
	width: 5.07rem;
	height: 100%;
	background: #3d3939;
	background-image: url('../img/gouwuche.png');
	background-size:0.74rem 0.66rem ;
	background-position: 0.4rem 0.13rem ;
	background-repeat: no-repeat;
	padding-top: 0.2rem;
	padding-left: 1.5rem;
}
footer ul .last{
	width: 2.03rem;
	height: 100%;
	background: #757575;
	color: #fff;
	font-size: 0.26rem;
	text-align: center;
	line-height: 0.88rem;
}
footer ul li h1{
	color: #757575;
	font-size: 0.24rem;
}
footer ul li h2{
	color: #fff;
	font-size: 0.18rem;
}