/*
* @Author: www87
* @Date:   2018-08-14 22:57:57
* @Last Modified by:   www87
* @Last Modified time: 2018-08-15 10:14:33
*/
body{
	height: 100%;
}
header{
	width: 7.5rem;
	height: 0.8rem;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	background-color: #f03434;
	margin: 0 auto;
	position: relative;
}
header .fanhui{
	width: 0.17rem;
	height: 0.32rem;
	float: left;
	margin-top: 0.28rem;
	margin-left: 0.1rem;
}

header h1{
	color: #fff;
	text-align: center;
	font-size: 0.36rem;
	line-height: 0.8rem;
}
header h2{
	color: rgba(255, 255, 255, 0.3);
	text-align: center;
	font-size: 0.3rem;
	position: absolute;
	top: 0.4rem;
	left: 2.5rem;
}
main{
	height: 5.2rem;
	width: 7.5rem;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	padding-top: 0.2rem;

}
main .box{
	width: 100%;
	height: 1.3rem;
	background-color: #e8e5e5;
	border-radius: 0.2rem;
	padding-left: 0.8rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-top: 0.3rem;
	margin-bottom: 0.3rem;
}
main .box img{
	width: 0.67rem;
	height: 0.59rem;
}
main .box h1{
	color: #f81b50;
	font-size:0.3rem; 
	margin-left: 0.1rem;
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
}
main .box h2{
	color: red;
	font-size:0.48rem;
	margin-left: 0.1rem;
	margin-top: 0.1rem;
}
main .box h3{
	color: red;
	font-size:0.28rem; 
	margin-left: 0.1rem;
	margin-top: 0.3rem;
}
main .fox{
	margin-left: 0.44rem;
	margin-right: 0.44rem;
	width: 6.37rem;
	height: 3.5rem;
	background-image: url('../img/yinghangka.png');
	background-size:6.37rem 3.5rem; 
	padding-top:  0.29rem;
}
main .fox h1{
	color:#fff ;
	font-size: 0.3rem;
	
	margin-left: 1.21rem;
}
main .fox h2{
	color:#fff ;
	font-size: 0.3rem;
	margin-left: 1.21rem;
}
main .fox h3{
	color:#fff ;
	font-size: 0.26rem;
	margin-left: 2rem;
	margin-top: 0.45rem;
}
.foot{
	width: 7.5rem;
	height: 7.04rem;
	margin-top: 0.3rem;
}